#form .error {
    border: 2px solid grey;
}

#form .msg-window-chat-in,
#form .msg-window-chat-out {
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}

#form .msg-window-chat-in {
    margin-right: 30px;
    padding-left: 5px;
    text-align: left;
    background-color: beige;
}

#form .msg-window-chat-out {
    margin-left: 30px;
    padding-right: 5px;
    text-align: right;
    background-color: aliceblue;
}

#msg-window td {
    max-height: 100px;
    overflow-y: auto;
}

.msg-window-user {
    cursor: pointer;
}

#memo-private-key {
    border: 2px solid silver;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    background-color: beige;
}

#active-private-key {
    border: 2px solid silver;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    background-color: beige;
}

#msg {
    border: 2px solid silver;
    width: 200px;
    height: 100px;
    border-radius: 8px;
    background-color: beige;
    /*display: inline-block;*/
    top: -1px;
    position: relative;
}

#msg-to {
    border: 2px solid silver;
    width: 200px;
    height: 27px;
    border-radius: 8px;
    background-color: beige;
}

#msg-from {
    border: 2px solid silver;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    background-color: beige;
}

#table-with-settings {
    margin-left: auto;
    margin-right: auto;
}
#table-with-settings td:first-child{
    font-weight: bold;
    color: #8e9194;
}