#form .error
{
    border: 2px solid red;
}
#form .msg-window-chat-in,
#form .msg-window-chat-out
{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}
#form .msg-window-chat-in
{
    margin-right: 30px;
    padding-left: 5px;
    text-align: left;
    background-color: beige;
}
#form .msg-window-chat-out
{
    margin-left: 20px;
    padding-right: 5px;
    text-align: right;
    background-color: aliceblue;
}
#msg-window td
{
    max-height: 100px;
    overflow: auto;
}
.msg-window-user
{
    cursor: pointer;
}

